img {
    border-radius: 50%;
    width: 650px;
    height: 650 px;
    
}

.imgbox{
    padding-left: 450px;
    width: 550px;
    height: 550px;
    padding-top: 50px;
    
}

header{
    display: flex;
    justify-content: space-between;
}

nav {
    padding-top: 20px;
    padding-right: 20px;
}

nav a{
    text-decoration: none;
    padding-left: 20px;
    color: black;
}


h1 {
    font-weight: bold;
    font-size: 40px;
}

section {
    padding: 0px 100px 0px 100px;
}

header h6 {
    padding: 0px 100px 0px 100px;
    font-weight: bold;

}

.button input {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 31, 210);
    border-radius: 10px;
    width: 100px;
    height: 50px;
}

footer {
    padding: 50px 100px 0px 100px;
}

footer a {
    margin-left: 10px;
    color: black;
    font-size: 50px;

}

section{
    display: flex;
}

.textbox h1{
    font-size: 50px;
}
